<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Test Suite" verbose="4">

	<test name="Amazon App Test">
		<classes>
			<class name="myTests.AmazonTest" />
		</classes>
	</test>

	<test name="Ornage HRM Test">
		<classes>
			<class name="myTests.OrangeHrmTest" />
		</classes>
	</test>

	<test name="Google Test">
		<classes>
			<class name="myTests.GoogleTest" />
		</classes>
	</test>

</suite>